{"parser": "@babel/eslint-parser",

"plugins":[
  "react",
  "jsx-a11y",
  "import"
],
"env":{
  "es6": true,
  "browser": true,
  "node": true,
  "jquery": true,
  "mocha": true
},
"rules":{
  "accessor-pairs": 0,
  "brace-style": [2, "1tbs", { "allowSingleLine": true }],
  "comma-dangle": [2, "never"],
  "consistent-return": 2,
  "dot-location": [2, "property"],
  "dot-notation": 2,
  "eol-last": 2,
  "indent": [1, 2, {"SwitchCase": 1}],
  "jsx-quotes": [2, "prefer-double"],
  "no-bitwise": 0,
  "no-dupe-class-members": 2,
  // "#no-multi-spaces": 2,
  "no-restricted-syntax": [2, "WithStatement"],
  "no-shadow": 2,
  "no-unused-expressions": 2,
  "no-unused-vars": [2, {"args": "none"}],
  "quotes": [2, "single", "avoid-escape"],
  "keyword-spacing": 2,
  "space-before-blocks": 2,
  // # TODO: enable this rule after https://github.com/eslint/eslint/pull/3768 lands
  "space-before-keywords": 0,
  "strict": [2, "global"],

  // # JSX
  // # Our transforms set this automatically
  "react/display-name": [ 0, { "ignoreTranspilerName": false }],
  "react/forbid-prop-types": [1, {"forbid": ["any"]}],
  "react/jsx-boolean-value": 0,
  "react/jsx-no-undef": 2,
  // # We don't care to do this
  "react/jsx-sort-prop-types": 0,
  "react/jsx-sort-props": 0,
  "react/jsx-uses-react": "off",
  "react/jsx-uses-vars": 2,
  // # It's easier to test some things this way
  "react/no-did-mount-set-state": 0,
  "react/no-did-update-set-state": 0,
  // # We define multiple components in test files
  "react/no-multi-comp": 0,
  "react/no-unknown-property": 2,
  // # This isn't useful in our test code
  "react/prop-types": 0,
  "react/react-in-jsx-scope": "off",
  "react/self-closing-comp": 2,
  // # We don't care to do this
  "react/sort-comp": 0,
  "react/jsx-wrap-multilines": [2, {"declaration": false, "assignment": false}]
}
}